@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply leading-none font-semibold max-w-5xl;
  font-size: 3rem;

  @screen md {
    font-size: 4rem;
  }

  @screen lg {
    font-size: 6rem;
  }

  @screen xl {
    font-size: 8rem;
  }
}
h2 {
  @apply max-w-5xl leading-none font-semibold mb-4;

  font-size: 2rem;

  @screen md {
    font-size: 3rem;
  }

  @screen lg {
    font-size: 4rem;
  }

  @screen xl {
    font-size: 5rem;
  }
}
h3 {
  @apply text-lg md:text-2xl font-bold mb-8 md:mb-16 border-b pb-4;
}

.tiles {
  @apply grid grid-cols-2 gap-x-16 gap-y-8;

  @screen sm {
    @apply grid-cols-3;
  }

  @screen md {
    @apply grid-cols-3 gap-x-16 gap-y-8;
  }

  @screen lg {
    @apply grid-cols-4 gap-x-16;
  }

  @screen xl {
    @apply grid-cols-6 gap-x-16;
  }

  @screen 2xl {
    @apply grid-cols-7 gap-x-16;
  }

  @screen 3xl {
    @apply grid-cols-7 gap-x-32;
  }

  @screen 4xl {
    @apply grid-cols-8 gap-x-48;
  }
}
.wrapper {
  @apply p-8;

  @screen sm {
    @apply p-12;
  }

  @screen md {
    @apply p-16;
  }

  @screen lg {
    @apply p-24;
  }

  @screen xl {
    @apply p-32;
  }
}
.footer {
  @apply py-16;
}
